* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222a;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61dafb;
    font-weight: 700;
    font-size: 22px;
}

.nav--title{
    color: #deebfb;
    font-weight: 600;
}

nav > img {
    height: 30px;
    margin-right: 7px;
}
